<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <nav th:replace="layout/layout :: nav"></nav>
  
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" th:text="${titulo}"></li>
      </ol>

      
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bell-o"></i> Codigos</div>
        <div class="card-body">
          <div>
          <h5>Codigos Detracciones</h5>
          <div class="container" th:each="codigopro: ${codigospro}">
          <label th:text="${codigopro}"></label></div>
          </div>
          <div>
          <h5>Codigos Proveedores</h5>
          <div class="container" th:each="codigoprov: ${codigosprov}">
          <label th:text="${codigoprov}"></label></div>
          </div>
        </div>
      </div>
     <a th:href="@{/pago/listar/}" class="btn btn-outline-success">Regresar</a>
   
    </div>
    
  
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
  </div>
</body>

</html>
