<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <nav th:replace="layout/layout :: nav"></nav>
 
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" th:text="${titulo}"></li>
      </ol>

    	
     <hr class="mt-2">
     <div class="card-columns">
     	   <div class="card mb-3">
              
              <div class="card-body">
                <h6 class="card-title mb-1"><a href="#">Proveedor</a></h6>
              </div>
              <hr class="my-0">
            
              <hr class="my-0">
              <div class="card-body small bg-faded">
                <div class="media">
                  
                  <div class="media-body">
                  <form th:action="@{/proveedor/crear}" th:object="${contenedor}" method="post"
					enctype="multipart/form-data">
                   		<div class="form-group row">
						<label for="razon_social" class="col-sm-2 col-form-label">Razon Social</label>
						<div class="col-sm-4">
							<input type="text" th:field="*{proveedor.razonSocial}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="ruc" class="col-sm-2 col-form-label">RUC</label>
						<div class="col-sm-4">
							<input type="text" th:field="*{proveedor.ruc}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
								
						</div>
					</div>
					<div class="form-group row">
						<label for="tipo_persona" class="col-sm-2 col-form-label">Tipo Persona</label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{proveedor.tipoPersona}">
							  <option th:value="P">Natural</option>
							  <option th:value="C">Juridica</option>
							  
							</select> 
						</div>
					</div>
				<div class="form-group row">
						<label for="cuenta_bco_nacion" class="col-sm-2 col-form-label">Cuenta Banco Nacion</label>
						<div class="col-sm-4">
							<input type="text" th:field="*{proveedor.cuentaBcoNacion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
					<hr class="my-0">
					  <div class="card-body">
                <h6 class="card-title mb-1"><a href="#">Persona Contacto</a></h6>
              </div>
              <hr class="my-0">
					<div class="media-body  mt-4">
						<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="dni" class="col-sm-2 col-form-label">DNI</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.dni}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
						</div>
					</div>
					<div class="form-group row">
						<label for="celular" class="col-sm-2 col-form-label">Celular</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.celular}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
					<div class="form-group row">
						<label for="correo" class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.correo}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Crear proveedor'"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
                  </div>
                </div>
              </div>
              
            </div>
     
     
     </div>
   
    </div>
    
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
    
  </div>
</body>

</html>
