<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <nav th:replace="layout/layout :: nav"></nav>
 
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" th:text="'Detalle ' + ${nombre}"></li>
      </ol>
	
		
		
      <div class="row">
      <div class="col-sm-6">
      <div class="card mb-0 mt-4">
      
        <div class="card-header">
          <i class="fa fa-table" th:text=" ' ' + ${persona.nombre} + ' ' + ${persona.apellido}"></i>       
          
           <a class="btn btn btn-outline-warning btn-sm"
      th:href="@{/persona/editar/} + ${persona.idPersonaContacto}" th:text="'Editar Persona'"></a></div>
          
        <div class="card-body">
        
          	<div class="row">
          	
          		<div class="col">
          			<label>DNI:</label><h5 class="col" th:text="${persona.dni}"></h5>
          			<label>Celular:</label><h5 class="col" th:text="${persona.celular}"></h5>
          		</div>
          		<div class="col">
          			<label>Correo:</label><h5 class="col" th:text="${persona.correo}"></h5>
          		</div>
          		<div class="col">
          		
          		</div>
				
          	</div>
        </div>
      </div>
      </div>
      </div>
          <div class="card mb-3 mt-4">
        <div class="card-header">
          <i class="fa fa-table"></i> Facturas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                	<th>id</th>
					<th>Codigo Servicio</th>
					<th>Fecha de emision</th>
					<th>Fecha de vencimiento</th>
					<th>Periodo</th>
					<th>Total</th>
					<th>Editar</th>
					<th>Eliminar</th>
                </tr>
              </thead>
              
              <tbody>
                <tr th:each="fact: ${proveedor.facturas}">
                	<td><a class="btn btn-warning" th:href="@{/factura/detalle/} + ${fact.id}"
							th:text="${fact.id}"></a></td>
							<td th:text="${fact.codigoServicio}"></td>
							<td th:text="${fact.fechaEmision}"></td>
							<td th:text="${fact.fechaVencimiento}"></td>
							<td th:text="${fact.periodoDetraccion}"></td>
							<td th:text="${fact.total}"></td>
							<td><a class="btn btn btn-outline-warning btn-sm"
								th:href="@{/proveedor/editar/} + ${proveedor.idProveedor}" th:text="'editar'"
								></a></td>
							<td><a class="btn btn-outline-danger btn-sm"
								th:href="@{/proveedor/eliminar/} + ${proveedor.idProveedor}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
								
                </tr>
              </tbody>
            </table>
          </div>
        
        </div>
        <div class="card-footer small text-muted">Updated Now</div>
      </div>
      
      <div class="card mb-3 mt-4">
        <div class="card-header">
          <i class="fa fa-table"></i> Cuentas   
           <a class="btn btn btn-outline-warning btn-sm"
      th:href="@{/cuenta/crear/} + ${proveedor.idProveedor}" th:text="'Agregar Cuenta'"></a></div>
          
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                	<th>id</th>
					<th>Cuenta</th>
					<th>Cuenta Interbancaria</th>
					<th>Tipo Cuenta</th>
					<th>Tipo Moneda</th>
					<th>Banco</th>
					<th>Editar</th>
					<th>Eliminar</th>
                </tr>
              </thead>
              
              <tbody>
                <tr th:each="cuenta: ${proveedor.cuentas}">
                	<td th:text="${cuenta.idCuenta}"></td>
							<td th:text="${cuenta.cuenta}"></td>
							<td th:text="${cuenta.cuentaInterbancaria}"></td>
							<td th:text="${cuenta.tipoCuenta}"></td>
							<td th:text="${cuenta.tipoMoneda}"></td>
							<td th:text="${cuenta.banco.razonSocial}"></td>
							<td><a class="btn btn btn-outline-warning btn-sm"
								th:href="@{/cuenta/editar/} + ${cuenta.idCuenta}" th:text="'editar'"
								></a></td>
							<td><a class="btn btn-outline-danger btn-sm"
								th:href="@{/cuenta/eliminar/} + ${cuenta.idCuenta}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
								
                </tr>
              </tbody>
            </table>
          </div>
        
        </div>
        <div class="card-footer small text-muted">Updated Now</div>
      </div>
   
    </div>
    
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
     
  </div>
</body>

</html>
