<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
   <nav th:replace="layout/layout :: nav"></nav>
 
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Crear Factura</li>
      </ol>

      	<div class="card mb-3 mt-4">
      		<div class="card-header">
      			<i class="fa fa-newspaper-o"></i> Facturas	
      		</div>
      		<div class="card-body">
      			<form th:action="@{/factura/guardar/}" th:object="${factura}" method="post">
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputEmail4">Codigo Servicio</label>
				      <input type="text" th:field="*{codigoServicio}" class="form-control" placeholder="Codigo servicio">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPassword4">Numero de factura</label>
				      <input type="number" th:field="*{numFactura}" class="form-control" id="inputPassword4" placeholder="Numero de factura">
				    </div>
				  </div>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputEmail4">F. Emision</label>
				      <input type="text" th:field="*{fechaEmision}" class="form-control" name="femi" >
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPassword4">F. Vencimiento</label>
				      <input type="text" th:field="*{fechaVencimiento}" class="form-control" name="feven" >
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPassword4">Periodo D.</label>
				      <input type="text" th:field="*{periodoDetraccion}" class="form-control" name="fepe"  >
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputAddress2">Descripcion</label>
				    <input type="text" th:field="*{descripcion}" class="form-control" id="inputAddress2" >
				  </div>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputCity">Tipo moneda</label>
				      	<select class="form-control" th:field="*{tipoMoneda}">
						  <option th:value="10" th:text="Dolar"></option>
						  <option th:value="01" th:text="Soles"></option>
						</select>
				    </div>
				  
				    <div class="form-group col-md-2">
				      <label for="inputZip">Subtotal</label>
				      <input type="number" th:field="*{subtotal}" class="form-control" id="inputZip">
				    </div>
				     <div class="form-group col-md-2">
				      <label for="inputZip">Total</label>
				      <input type="number" th:field="*{total}" class="form-control" id="inputZip">
				    </div>
				  </div>
				  <div class="form-group">
				      <div class="form-group col-md-2">
				      <label for="inputZip">Porcentaje de detraccion</label>
				      <input type="number" th:field="*{porcetajeDetraccion}" class="form-control" id="inputZip">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Crear</button>
				</form>
      		</div>
      	</div>	
      	

   			
      </div>
     
   
    </div>
    
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
     
  </div>
</body>

</html>
