<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <nav th:replace="layout/layout :: nav"></nav>
 
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" th:text="'Detalle Factura #' + ${factura.numFactura}"></li>
      </ol>
	
		
		
      <div class="row">
      <div class="col-sm-6">
      <div class="card mb-0 mt-4">
        <div class="card-header ">
          <h5 th:text="'Factura #' +  ${factura.numFactura}"></h5></div>
        <div class="card-body">
          	<div class="row">
          		<div class="col">
          			<label>Codigo Servicio: </label><h5 class="col" th:text="${factura.codigoServicio}"></h5>
          			<label>Fecha Emision: </label><h5 class="col" th:text="${factura.fechaEmision}"></h5>
          			<label>Fecha Detraccion: </label><h5 class="col" th:text="${factura.periodoDetraccion}"></h5>
          		</div>
          		<div class="col">
          			<label>Tipo Moneda: </label><h5 class="col" th:text="${factura.tipoMoneda}"></h5>
          			<label>Subtotal: </label><h5 class="col" th:text="${factura.subtotal}"></h5>
          			<label>% Detraccion: </label><h5 class="col" th:text="${factura.porcentajeDetraccion}"></h5>
          			<label>Descripcion: </label><h5 class="col" th:text="${factura.descripcion}"></h5>
          		
          		</div>
          	</div>
        </div>
      </div>
      </div>
      </div>
          <div class="card mb-3 mt-4">
        <div class="card-header">
          <i class="fa fa-table"></i> Proveedor</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                	<th>id</th>
					<th>Razon Social</th>
					<th>RUC</th>
					<th>Cuenta Banco Nacion</th>
					<th>Tipo Persona</th>
					<th>Editar</th>
					<th>Eliminar</th>
                </tr>
              </thead>
              
              <tbody>
                <tr >
                	<td><a class="btn btn-warning" 
							th:text="${factura.proveedor.idProveedor}"></a></td>
							<td th:text="${factura.proveedor.razonSocial}"></td>
							<td th:text="${factura.proveedor.ruc}"></td>
							<td th:text="${factura.proveedor.cuentaBcoNacion}"></td>
							<td th:text="${factura.proveedor.tipoPersona}"></td>
							<td><a class="btn btn btn-outline-warning btn-sm"
								th:href="@{/proveedor/editar/} + ${factura.proveedor.idProveedor}" th:text="'editar'"
								></a></td>
							<td><a class="btn btn-outline-danger btn-sm"
								th:href="@{/proveedor/eliminar/} + ${factura.proveedor.idProveedor}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
								
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
      
     
   
    </div>
    
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
     
  </div>
</body>

</html>
