<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <nav th:replace="layout/layout :: nav"></nav>
  
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" th:text="${titulo}"></li>
      </ol>

      
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Facturas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                	
					<th>ID</th>
					<th>Numero de Factura</th>
					<th>Fecha de Vencimiento</th>
					<th>Total</th>
					<th>Estado</th>
					<th>Editar</th>
                </tr>
              </thead>
              
              <tbody>
                <tr th:each="factura: ${facturas}">
                	<td><a class="btn btn-link" th:href="@{/factura/detalle/} + ${factura.id}"
							th:text="${factura.id}"></a></td>
							<td th:text="${factura.numFactura}"></td>
							<td th:text="${factura.fechaVencimiento}"></td>
							<td th:text="${factura.total}"></td>
							<td th:text="${factura.estado}"></td>
							<td><a class="btn btn btn-outline-warning btn-sm"
								th:href="@{/factura/crear/} + ${factura.id}" th:text="'editar'"
								></a></td>
										
                </tr>
              </tbody>
            </table>
          </div>
          <a th:href="@{/factura/crear}" class="btn btn-outline-success">Registrar Factura</a>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
     
   
    </div>
    
  
    <footer th:replace="layout/layout :: footer"></footer>
    
    <div th:replace="layout/layout :: div"></div>
  </div>
</body>

</html>
